# Dependencies
node_modules/
.pnpm/
.pnp.*
.cache/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Testing
coverage/
.nyc_output/
*.lcov

# Production build
build/
dist/

# Misc
.DS_Store
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ESLint cache
.eslintcache

# Next.js static files
public/static
